cd /opt/escapestore

# shop
cat > shop-purple/.dockerignore <<'EOF'
node_modules
dist
.git
.gitignore
Dockerfile
npm-debug.log
EOF

# admin
cat > admin-clean/.dockerignore <<'EOF'
node_modules
dist
.git
.gitignore
Dockerfile
npm-debug.log
EOF
